<div class="center">

  <div class="bold white">
    You can find lyrics from all new songs, albums, and artists. Our lyrics are added by people just like you! Help us out, or just enjoy the selection of <%= pluralize(Artist.all.count, 'artist') %>, <%= pluralize(Album.all.count, 'album') %>, and <%= pluralize(Track.all.count, 'lyric') %>!
  </div>

  <% unless user_signed_in? %>
    <div class="pb5"></div>

    <div class="flex">
      <div class="half-container-no-split">
        <%= link_to(sign_in_path) do %>
          <div class="sign-in-button">
            Sign in
          </div>
        <% end %>
      </div>

      <div class="half-container-no-split">
        <%= link_to(register_path) do %>
          <div class="main-button">
            Register
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="pb5"></div>

  <% if @artists.any? %>

    <div class="mini-text bold">
      <span class="border-bottom">POPULAR ARTISTS</span>
    </div>

    <div class="pb1"></div>

    <% @artists.each do |artist| %>
      
      <div class="title1">
        <%= link_to artist.name, artist_path(artist) %>
      </div>

      <div class="pb1"></div>

    <% end %>

    <div class="pb5"></div>
  <% end %>

  <% if @albums.any? %>

    <div class="mini-text bold">
      <span class="border-bottom">POPULAR ALBUMS</span>
    </div>

    <div class="pb1"></div>

    <% @albums.each do |album| %>
      
      <div class="title1">
        <%= link_to album.name, artist_album_path(album.artist, album) %>
      </div>

      <div class="pb1"></div>

    <% end %>

    <div class="pb5"></div>
  <% end %>

  <% if @tracks.any? %>

    <div class="mini-text bold">
      <span class="border-bottom">POPULAR TRACKS</span>
    </div>

    <div class="pb1"></div>

    <% @tracks.each do |track| %>
      <div class="title1">
        <%= link_to track.name, artist_album_track_path(track.artist, track.album, track) %>
      </div>
      <div class="pb1"></div>
    <% end %>

    <div class="pb5"></div>
  <% end %>


  <div class="title2">
    RUBY <i class="secondary-dark far fa-gem"></i> LYRICS
  </div>

  <div class="pb1"></div>

  <div class="bold">
    was built with the help of...
  </div>

</div>