<div class="pb5"></div>
<div class="az-container">
  <%= link_to('https://amzn.to/32trGo8') do %>
    <div class="az-padding">

      <div class="flex">
        <div class="az-play-container">
          <i class="far fa-play-circle"></i>
        </div>
        <div class="az-song-container">
          <div class="az-title1">
            <% if @track.present? %>
              <%= @track.name %> by <%= @artist.name %>
            <% elsif @album.present? %>
              <%= @album.name %> by <%= @artist.name %>
            <% elsif @artist.present? %>
              <%= @artist.name %>
            <% end %>
            <div class="border-bottom"></div>
          </div>
          <div class="mini-text">
            Listen with Amazon Music Unlimited <i class="fab fa-amazon"></i>
          </div>
        </div>
      </div>
      
    </div>
  <% end %>
</div>
<div class="pb5"></div>