<div class="flex">
  <div class="half-container-no-split">
    <div class="title2 white">
      Sign in
    </div>
  </div>

  <div class="half-container-no-split">
    <div class="right">
      <span class="close-form-click">
        <i class="fas fa-times"></i>
      </span>
    </div>
  </div>
</div>

<div class="pb5"></div>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <%= f.label :email, 'Email' %>
    <div class="pb1"></div>
    <%= f.email_field :email, placeholder: 'Your email address', class: "text-field" %>
    <div class="pb3"></div>
        
    <%= f.label :password, 'Password' %> * <span class="mini-text">Must be at least <%= @minimum_password_length ? @minimum_password_length : "8" %> characters</span>
    <div class="pb1"></div>
    <%= f.password_field :password, placeholder: 'Password', class: "text-field" %>
    <div class="pb3"></div>

    <% if devise_mapping.rememberable? -%>

      <div class="flex">
        <div>
          <label class="remember-inactive" id="remember-tab" for="remember-inactive">Remember me?</label>
          <span class="hidden"><%= f.check_box(:remember_me, id: "remember-inactive") %></span>
        </div>
      </div>

    <% end -%>

    <%= f.submit "Sign in", data: { disable_with: 'Signing in...' }, class: "main-button" %>
  <% end %>
</div>

<div class="pb5"></div>
<div class="center">
  <%= link_to "Don't have an account yet? Register here.", register_path, class: "secondary-link" %>
</div>