<div class="slider-1">
  <%= render 'partials/meta/ninth_digital_small' %>
</div>

<div class="slider-2">
  <%= render 'partials/meta/ninth_recipes_small' %>
</div>

<div class="slider-3">
  <%= render 'partials/meta/ninthbooks_small' %>
</div>

<div class="slider-4">
  <%= render 'partials/meta/play_here' %>
</div>

<div class="slider-5">
  <%= render 'partials/meta/ninth_fyi_small' %>
</div>

<div class="slider-6">
  <%= render 'partials/meta/ninth_digital_small' %>
</div>

<div class="slider-7">
  <%= render 'partials/meta/ninthbooks_small' %>
</div>

<div class="slider-8">
  <%= render 'partials/meta/random_lyrics' %>
</div>

<div class="slider-9">
  <%= render 'partials/meta/play_here' %>
</div>

<div class="slider-10">
  <%= render 'partials/meta/ninth_fyi_small' %>
</div>