<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="theme-color" content="#000000" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>

    <script src="https://kit.fontawesome.com/2489bdf35c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="color-background"></div>
    <%= render 'partials/meta/header' %>
    <div class="pb3"></div>
   
    <div class="container">

      <div id="site-content">
        <%= render 'partials/meta/nameplate' if @artist.present? %>
        <%= render 'partials/meta/play_here' if @artist.present? %>
        <%= yield %>
      </div>

      <div id="site-form">
        <% if user_signed_in? %>
          <%= render 'partials/meta/track_form' %>
        <% else %>
          <%= render 'partials/meta/sign_in_form' %>
        <% end %>
      </div>

      <div id="register-form">
        <% unless user_signed_in? %>
          <%= render 'partials/meta/register_form' %>
        <% end %>
      </div>

      <%= render 'partials/meta/ninth_digital_large' %>
    </div>

    <%= render 'partials/meta/footer' %>

  </body>
</html>