<%= provide(:title, "Account Settings") %>

<div class="title2 white">
  Account Settings
</div>

<div class="pb5"></div>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <%= f.label :username, 'Username' %>
    <div class="pb1"></div>
    <%= f.text_field :username, placeholder: 'Your username', class: "text-field" %>
    <div class="pb3"></div>

    <%= f.label :email, 'Email' %>
    <div class="pb1"></div>
    <%= f.email_field :email, placeholder: 'Your email address', class: "text-field" %>
    <div class="pb3"></div>
        
    <%= f.label :password, 'New password' %> <span class="mini-text">Must be at least <%= @minimum_password_length ? @minimum_password_length : "8" %> characters</span>
    <div class="pb1"></div>
    <%= f.password_field :password, placeholder: 'New password', class: "text-field" %>
    <div class="pb3"></div>

    <%= f.label :current_password, 'Current password' %> * <span class="mini-text">Needed to confirm changes</span>
    <div class="pb1"></div>
    <%= f.password_field :current_password, placeholder: 'Your current password', autocomplete: "current-password", class: "text-field" %>
    <div class="pb3"></div>

    <div class="actions">
      <%= f.submit "Update account", data: { disable_with: 'Updating...' }, class: "main-button" %>
    </div>
  <% end %>
</div>

<div class="pb10"></div>
<div class="pb10"></div>

<div class="title1 center">
  Delete your account
</div>

<div class="pb5"></div>

<%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-button" %>

<div class="pb10"></div>
<div class="pb5"></div>